body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#search-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-toggle {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

#search-options {
    margin-top: 10px;
}

#search-options label {
    display: block;
    margin-bottom: 5px;
}

#search-button {
    margin-top: 10px;
}

.custom-div-icon .marker-text {
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}

.custom-div-icon {
    background: none;
    border: none;
}

.custom-div-icon img {
    display: block;
    margin: 0 auto;
}

.custom-div-icon .marker-text {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*イベント以外ではここから*/
#check-point-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    /* ボタンの幅を画面の90%に設定 */
    max-width: 300px;
    /* 最大幅を設定 */
}

#check-point-button a {
    display: block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    /* テキストの折り返しを防ぐ */
    overflow: hidden;
    /* はみ出た部分を隠す */
    text-overflow: ellipsis;
    /* はみ出た部分を...で表示 */
}

#check-point-button a:hover {
    background-color: #0056b3;
}

#map {
    height: calc(100% - 60px);
    width: 100%;
    padding-bottom: 60px;
}

/*ここまでを削除*/
