body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#search-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-toggle {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.custom-div-icon {
    background: none;
    border: none;
}

.custom-div-icon img {
    display: block;
    margin: 0 auto;
}

.custom-div-icon .marker-text {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

#icons-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

#icons-container img {
    width: 45px;
    height: 45px;
    margin: 0 3px;
}

.area-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    margin-right: 1px;
    font-size: 14px;
}

#bottom-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: none;
    align-items: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#bottom-panel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

#shop-info {
    flex-grow: 1;
}

.detail-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#bottom-panel button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#point-container {
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: 1000;
}

#point-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#point-icon {
    width: 70px;
    height: auto;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.popup-content label {
    display: block;
    margin-bottom: 10px;
}

#search-button,
#close-popup {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#close-popup {
    margin-left: 10px;
    background-color: #6c757d;
}